In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [12]:
df = pd.read_csv('u.data', sep='\t', names=column_names)

In [13]:
movie_titles = pd.read_csv('Movie_Id_Titles')

In [14]:
 data = pd.merge(df, movie_titles, on='item_id')

In [15]:
rating_mean = pd.DataFrame(data.groupby('title')['rating'].mean())

In [16]:
rating_mean['No. of Ratings'] = data.groupby('title')['rating'].count()

In [17]:
movie_matrix = data.pivot_table(index='user_id', columns='title', values = 'rating')

In [47]:
def reco(movie):
    movie_user_ratings = movie_matrix[movie]
    similar_movies = movie_matrix.corrwith(movie_user_ratings)
    corr_movies = pd.DataFrame(similar_movies, columns=['Correlation'])
    corr_movies = corr_movies.join(rating_mean['No. of Ratings'])
    results = corr_movies[corr_movies['No. of Ratings']>rating_mean['No. of Ratings'].mean()].sort_values('Correlation',
                                                                                                       ascending=False).head()
    return results

In [61]:
reco('187 (1997)')

C:\Users\USER\anaconda3\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\USER\anaconda3\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                      Correlation  No. of Ratings
title
Maverick (1994)                               1.0             128
Jane Eyre (1996)                              1.0              63
Kids in the Hall: Brain Candy (1996)          1.0              65
Magnificent Seven, The (1954)                 1.0             121
Heavy Metal (1981)                            1.0              73

In [62]:
g = data.groupby('title').count()

In [56]:
g.head()

                           user_id  item_id  rating  timestamp
title
'Til There Was You (1997)        9        9       9          9
1-900 (1994)                     5        5       5          5
101 Dalmatians (1996)          109      109     109        109
12 Angry Men (1957)            125      125     125        125
187 (1997)                      41       41      41         41

In [67]:
data.item_id.nunique()

1682